<h1>Welcome to the Introduction-O-Matic!</h1>

<ol>
<li>Create an event</li>
<li>Get the event link and email your guests</li>
<li>Send your guests the link</li>
<li>Your guests log in and answer some questions</li>
<li>See all your guests and their answers!</li>
</ol>


  <%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :event_title %><br>
      <%= text_area_tag(:name, "", size: "60x2") %>
    </div>

    <div class="field">
      <p>Your name</p>
      <%= text_area_tag(:host, "", size: "60x2") %>
    </div>

    <div class="field">
      <%= f.label :event_date %><br>
      <%= date_field(:event, :date) %>
    </div>

    <div>
      <p>Ask a question for your guests</p>
      <%= text_area_tag(:question_1, "What are you hoping to accomplish at this event?", size: "60x6") %>
    </div>

    <div>
      <p>Ask a question for your guests</p>
      <%= text_area_tag(:question_1, "What are you excited about at this event? What are you looking for tonight?", size: "60x6") %>
    </div>

    <div>
      <p>Ask a question for your guests</p>
      <%= text_area_tag(:question_1, "Come find me if...", size: "60x6") %>
    </div>

    <div>
      <p>The password you'll give your guests to log in to this site:</p>
      <%= text_area_tag(:keyword, "sparklepony", size: "60x2") %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


