
<div id="user-widget">
  <% if current_user %>
    <%= link_to "Sign out", signout_path, id: "sign_out" %><br>
    Welcome <strong><%= current_user.first_name %></strong>!<br>
    A few quick questions if you don't mind:<br>

  <%= form_for(@answer) do |f| %>

    <div class="field">
      <%= f.label :tell_us_about_yourself %><br>
      <%= f.text_field :response %>
    </div>

    <input type="file" name="image" accept="image/*" capture="camera">

    <div class="actions">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit%>
    </div>
  <% end %>

  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>

  </div>